html {
  scroll-behavior: smooth;
}

body {
  font-family: "Comfortaa";
  margin-left: 160px;
  background-color: #bbd1ea;
  font-size: 18px;
  line-height: 1.5;
}

header {
  font-weight: 800;
  padding: 30px 0;
  font-size: 50px;
  padding: 20px;
  text-align: center;
  color: navy;
  text-shadow: 2px 2px 8px beige;
}

.my-button {
  margin: 10px;
}

header img {
  width: 30%;
}

header,
footer,
article,
nav,
aside {
  padding: 1em;
}

header,
footer {
  background: #bbd1ea;
}

/* The sidebar menu */
.sidenav {
  background-color: navy;
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  display: block;
  color: rgb(234, 234, 199);
}

.sidenav a:hover {
  color: lightblue;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* Adds background image of desert and sky */

#main {
  min-height: calc(100vh - 40vh);
  background-image: url("https://images.unsplash.com/photo-1524195958835-70f542b1924b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2883&q=80");
  background-size: cover;
}
#main > article {
  flex: 1;
}

#main > nav,
#main > aside {
  flex: 0 0 20vw;
  background: beige;
}

#main > nav {
  order: -1;
}

.projects {
  font-size: 40px;
  color: white;
}

h1,
h2 {
  font-size: 40px;
}

h5 {
  text-decoration: underline;
  font-weight: bolder;
}

#my-projects {
  max-width: 100%;
  padding: 50px;
}

#main-project {
  color: navy;
  font-size: 25px;
  width: 90%;
  padding: 30px;
}

#main-project img {
  width: 75%;
  opacity: 1;
}

#main-project img:hover {
  opacity: 0.5;
}

nav,
aside {
  font-size: 16px;
}

.control-height {
  height: 600px;
  padding: 10px;
}

.item-container {
  border-width: 1px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#about-me,
#contact-me {
  background-color: rgba(238, 228, 228, 0.8);
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: green;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.my-card {
  text-align: center;
  font-weight: 500;
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  border-width: 1px;
  color: hsl(206, 17%, 28%);
  font-size: 20px;
  margin: 20px 30px 30px 20px;
  min-width: 225px;
  width: 33%;
  padding: 30px 30px;
  box-shadow: 10px 10px rgb(234, 234, 199);
}

footer ul li {
  display: inline-block;
  text-align: center;
  padding-bottom: 15px;
  margin-left: 20px;
}

/*Font styling for animation*/

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.typing-demo {
  width: 22ch;
  animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-size: 50px;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* When screen becomes smaller than 800px, unlinked images are removed from page and project demos also become smaller. */

@media (max-width: 800px) {
  body {
    font-family: "Comfortaa";
    margin-left: 10px;
    background-color: #bbd1ea;
    font-size: 12px;
    line-height: 1.5;
  }

  h3 {
    font-size: 12px;
  }

  .jumbotron {
    font-size: 14px;
  }
  .sidenav {
    display: none;
  }

  .typing-demo {
    font-size: 20px;
  }
  article {
    background-image: none;
  }

  header {
    font-size: 30px;
  }

  header img {
    width: 30%;
  }

  nav,
  aside {
    display: none;
  }

  .secondary-project {
    width: 90%;
  }
}
