* {
    box-sizing: border-box; 
   }

   body {
     margin: 0;
     background-color:  cadetblue;
     display: flex;
     flex-direction: column;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 20px;
     line-height: 1.5;
 }
   
   #main {
     display: flex;
     min-height: calc(100vh - 40vh);
   }
   #main > article {
     flex: 1;
     background-image: url('https://images.unsplash.com/photo-1524195958835-70f542b1924b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2883&q=80');
     background-size: cover;
   }

   #main > nav, 
   #main > aside {
     flex: 0 0 20vw;
     background: beige;
   }

   #main > nav {
     order: -1;
   }

   nav, aside {
    font-size: 16px;
   }

   header {
       font-weight: 800;
       margin-top: 30px;
       margin-bottom: 30px;
       font-size: 30px;
       border-radius: 25px;
       border: 4px solid #68D8D6;
       padding: 20px;
       text-align: center;
       color: navy;
       text-shadow: 2px 2px 8px beige;
   }

   header, footer, article, nav, aside {
     padding: 1em;
   }

   header, footer {
     background: #68D8D6;
     height: 20vh;
   }

   footer ul li {
    display: inline-block;
    text-align: center;
    padding-bottom: 15px;
    margin-left: 20px;
   }

   .paragraphs {
    float: left;
    width: 30%;
    display: flex;
    flex-direction: wrap;
    flex: 1 0 200px;
    border-width: 1px;
   }

    .card {
        align-items: center;
        float: left;
        background-color: hsl(0, 0%, 100%);border-radius: 5px;
        border-width: 1px;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
        color: hsl(206, 17%, 28%);
        font-size: 18px;
        margin: 30px 30px 40px 40px;
        max-width: 300px;
        padding: 30px 40px;
        box-shadow: 10px 10px rgb(234, 234, 199);
    }

    @media (max-width: 800px) {
        article {
            background-image:none;
        }
    
    }
    
    @media screen and (max-width: 992px) {
        .card {
          width: 50%;
        }
    }
